@keyframes fade {
    0% { opacity: 1; }
    18% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}

.carrossel-item:nth-child(10) {
    animation: fade 20s infinite;
}

.carrossel-item:nth-child(9) {
    animation: fade 20s infinite 2s;
}

.carrossel-item:nth-child(8) {
    animation: fade 20s infinite 4s;
}

.carrossel-item:nth-child(7) {
    animation: fade 20s infinite 6s;
}

.carrossel-item:nth-child(6) {
    animation: fade 20s infinite 8s;
}

.carrossel-item:nth-child(5) {
    animation: fade 20s infinite 10s;
}

.carrossel-item:nth-child(4) {
    animation: fade 20s infinite 12s;
}

.carrossel-item:nth-child(3) {
    animation: fade 20s infinite 14s;
}

.carrossel-item:nth-child(2) {
    animation: fade 20s infinite 16s;
}

.carrossel-item:nth-child(1) {
    animation: fade 20s infinite 18s;
}