body {
    background-color: var(--lilas);
}

.banner img {
    width: 100%;
    display: block;
}

.info {
    background-color: var(--branco);
    border-radius: 0px 0px 40px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    box-shadow: inset 0px 8px 16px -5px var(--preto);
}

.locali {
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font: 2.7rem "Poppins-Bold", sans-serif;
    color: var(--roxo);
}

.titulo h2 {
    font: 1.5rem "Poppins-Bold", sans-serif;
    color: var(--verde);
}

.endereco {
    display: flex;
}

.endereco p {
    font: 1.2rem "Poppins-Regular", sans-serif;
    color: var(--preto);
}

.endereco img {
    width: 2rem;
    height: 2rem;
}

.icons {
    padding-top: 1.5rem;
}

.dorm, .metra, .vagas {
    display: flex;
    margin-top: 2%;
}

.dorm img, .metra img, .vagas img {
    padding-right: 2rem;
}

.dorm p, .metra p, .vagas p {
    font: 1.4rem "Poppins-Regular", sans-serif;
    color: var(--preto);
}

.dif {
    display: flex;
    gap: 6rem;
    padding-top: 1rem;
}

.diferenciais h2 {
    font: 2rem "Poppins-Bold", sans-serif;
    color: var(--lilas);
}

.diferenciais p {
    font: 1.3rem "Poppins-Regular", sans-serif;
    color: var(--preto);
    line-height: 3rem;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

#section-galeria {
    margin: 0 auto;
    padding-top: 6rem;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 900px;
    margin: auto;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-track img {
    width: 100%; /* Para deixar responsivo */
    max-width: 200px;
    opacity: 0.6;
    transform: scale(0.8);
    transition: all 0.5s ease;
  }
  
  .carousel-track img.active {
    max-width: 300px;
    opacity: 1;
    transform: scale(1);
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 15;
    border-radius: 50%;
    font-size: 3rem;
  }
  
  .left-arrow {
    left: 5rem;
  }
  
  .right-arrow {
    right: 5rem;
  }

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

.botao-sabermais {
    padding: 3rem 0 3.5rem 0;
}

  .bg-botao {
    background-color: var(--amarelo);
    width: max-content;
    padding: 1.31rem 3.62rem;
    border-radius: 23px;
    margin: 0 auto;

  }

.botao-sabermais a {
    text-decoration: none;
    color: var(--roxo);
    font: 2rem "Poppins-Bold", sans-serif;
  }