.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicators label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="radio"] {
    display: none;
}



/* Animação das bolinhas de navegação */
#slide1:checked ~ .indicators label[for="slide1"],
#slide2:checked ~ .indicators label[for="slide2"],
#slide3:checked ~ .indicators label[for="slide3"],
#slide4:checked ~ .indicators label[for="slide4"],
#slide5:checked ~ .indicators label[for="slide5"],
#slide6:checked ~ .indicators label[for="slide6"],
#slide7:checked ~ .indicators label[for="slide7"],
#slide8:checked ~ .indicators label[for="slide8"],
#slide9:checked ~ .indicators label[for="slide9"],
#slide10:checked ~ .indicators label[for="slide10"] {
    background-color: #f0a500;
}